//
// Grid
// A float based grid with fractional class names
//

//
// Configuration
//

// grids max width
$grid-max-width : 1200px !default;
// gutter spacing
$grid-gutter: 1.5rem !default;

//
// Mixins & functions
//

// Create column widths from ratio
@mixin column($ratio) {
    width: $ratio * 100%;
}

// Create push margin from ratio
@mixin push($ratio) {
    margin-left: $ratio * 100%;
}

// modify gutter amount
@function gutter($modifier: 1) {
    @return $modifier * $grid-gutter;
}

//
// Styles
//

.row,
.column {
    // Set boxsizing for rows and columns
    box-sizing: border-box;
}

.row {
    overflow: hidden;
    max-width: $grid-max-width;
    margin: 0 auto;
}

.row .row {
    // nestable rows and columns
    margin: 0 gutter(-0.5) gutter(-1);
}

.column {
    float: left;
    padding: 0 gutter(0.5) gutter();
}

//
// Column sizes
//

// whole
.column.one-whole   { @include column(1/1); }

// halves
.column.one-half    { @include column(1/2); }

// thirds
.column.one-third   { @include column(1/3); }
.column.two-thirds  { @include column(2/3); }

// fourths
.column.one-fourth      { @include column(1/4); }
.column.two-fourths     { @include column(2/4); }
.column.three-fourths   { @include column(3/4); }

// fifths
.column.one-fifth       { @include column(1/5); }
.column.two-fifths      { @include column(2/5); }
.column.three-fifths    { @include column(3/5); }
.column.four-fifths     { @include column(4/5); }

// sixths
.column.one-sixth       { @include column(1/6); }
.column.two-sixths      { @include column(2/6); }
.column.three-sixths    { @include column(3/6); }
.column.four-sixths     { @include column(4/6); }
.column.five-sixths     { @include column(5/6); }

// twelfths
.column.one-twelfth     { @include column(1/12); }
.column.two-twelfth     { @include column(2/12); }
.column.three-twelfth   { @include column(3/12); }
.column.four-twelfth    { @include column(4/12); }
.column.five-twelfths   { @include column(5/12); }
.column.six-twelfths    { @include column(6/12); }
.column.seven-twelfths  { @include column(7/12); }
.column.eight-twelfths  { @include column(8/12); }
.column.nine-twelfths   { @include column(9/12); }
.column.ten-twelfths    { @include column(10/12); }
.column.eleven-twelfths { @include column(11/12); }

// Push margins
.push-third     { @include push(1/3); }
.push-fourth    { @include push(1/4); }
.push-sixth     { @include push(1/6); }
.push-twelfth   { @include push(1/12); }

// Reverse order of column
.flow-reverse {
    float: right;
}

//
// Cleafix
// Micro Clearfix by Nicolas Gallagher
// http://nicolasgallagher.com/micro-clearfix-hack/
//
.cf {
    overflow: visible!important;

    &:before,
    &:after {
        content: " ";
        display: block;
    }

    &:after {
        clear: both;
    }

    // IE 6/7 fix
    *zoom: 1;
}
