// Utility classes
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

// Development
// add to <body> to show the baseline grid
.baseline {
    background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px), linear-gradient(to bottom,rgba(red, 0.1) 0,rgba(255,255,255,0)1px);
    background-repeat: repeat-y;
    background-size: 100% $type-leading * 1rem, 100% ($type-leading / 3) * 1rem;
}
