/**
 * Form Configuration
 */

$form-control-border-radius: 3px !default;

$form-control-border-size: 1px !default;

$form-control-border-color: #aaa !default;

$form-control-background: #fff !default;
