// reset
.control select,
.control input[type="text"],
.control input[type="password"],
.control input[type="email"],
.control input[type="tel"],
.control textarea,
.control select {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: auto;
    font: inherit;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

// base styles
.control select,
.control input[type="text"],
.control input[type="password"],
.control input[type="email"],
.control input[type="tel"],
.control textarea,
.control select {
    padding: rhythm(1);
    border: 1px solid;
    border-color: #eee;
    background: #fff;
    margin-bottom: -2px; // accomodate for input border
}


// control continer
.control {
    padding: .375rem 0;
}
