/**
 * Element Configuration
 */

 // Body font family
 $type-body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 // Base font size
 $type-body-size: 16px !default;
 // Title font family
 $type-title-font: $type-body-font !default;

 // Type rhythm
 // Leading: bottom margin for block items, images, paragraphs, lists etc
 $type-leading: 1.5 !default;
 // Rhythm: smaller increment for more refined type spacing
 $type-rhythm: $type-leading / 4 !default;

 // Type scale
 // font sizing
 $type-scale: 1.25 !default;
