/**
 * Lists
 */

 // lists

ol,
ul {
    list-style-position: inside;
}

 ol { list-style-type: decimal; }
 ul { list-style-type: disc; }

 // Definition list
 dl {}
 dt { @extend .bold; }
 dd { @extend .italic; }
