// utility classes
// can be included in css so all @extend .bold is the same
// clasify what bold means in a project
// could mean a particular font stack (i.e font-family: 'Futura Bold', not font: Future; font-weight: bold)
.bold { font-weight: bold; }

// usage
b,
strong {
    @extend .bold;
}

// italic
.italic { font-style: italic; }
// usage
var,
cite,
em,
dfn,
i {
    @extend .italic;
}

// mark
mark {
    background-color: yellow;
}

// strike
s,
del {
    text-decoration: line-through;
}

// underline
ins,
u {
    text-decoration: underline;
}

sup,
sub {
    font-size: smaller;
    line-height: 1;
}

sup { vertical-align: sup; }
sub { vertical-align: sub; }


abbr[title] {
    cursor: help;
}
